body {

    color: #f7f7f7;
}
.col-md-12 {
    background-image: url("../images/bokehbg.png");
    background-size: 100% 100%;
    text-align: center;

    
}

h1 {

    color: #cacad3;

}

p {


    color: #f7f7ff;
  
  
  }


